# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.egg-info/
scan.spec
build.spec

# Local data files - should be downloaded by the user
app/data/GeoLite2-City.mmdb
app/data/vulnerabilities.db
osint_tool.log

# Cache files
cache/

# Ignore contents of data/result folders, but keep the folders themselves
nvd_data/*
!nvd_data/.gitkeep

output/*
!output/.gitkeep

# Tooling
bfg.jar